@media screen and (max-width: 768px) {
  .navbar-nav {
    width: 30%;
    float: right;
    background-color: black;
    margin: 0px -15px;
  }
  .navbar-nav li {
    display: inline;
    width: 100%;
  }
}
.reset {
  margin: 0;
  padding: 0;
}
html {
  margin: 0;
  padding: 0;
}
html body {
  margin: 0;
  padding: 0;
}
.row {
  height: 60px;
}
#wrapper {
  text-align: center;
}
.depot {
  height: 50px;
  width: 50px;
  vertical-align: center;
  background-color: #ebd827;
}
.navbar {
  background-color: black;
  height: 80px;
}
.navbar-nav {
  margin-top: 15px;
}
nav ul {
  display: inline-block;
  list-style-type: none;
  margin-top: 15px;
  font-family: 'Shadows Into Light', cursive;
  font-size: 25px;
}
nav li {
  float: left;
}
nav li a {
  text-decoration: none;
  float: left;
  padding: 10px 15px 0;
  color: yellow;
}
.navbar-header {
  background-color: black;
}
.body {
  max-width: 960px;
  margin: 60px auto;
}
hr {
  border-top: 2px solid #ebd827;
  max-width: 960px;
}
.name {
  text-align: center;
  color: #1d1d1e;
  font-family: 'Shadows Into Light', cursive;
  font-size: 55px;
}
.job {
  text-align: center;
  color: #1d1d1e;
  font-family: 'Open Sans Condensed', sans-serif;
}
.about {
  overflow: hidden;
  width: 100%;
}
.about h2 {
  text-align: center;
  color: #1d1d1e;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 40px;
}
.p1 {
  max-width: 70%;
  text-align: left;
  color: #1d1d1e;
  margin: auto;
  font-family: 'Shadows Into Light', cursive;
  font-size: 20px;
}
.p2 {
  max-width: 70%;
  text-align: left;
  color: #1d1d1e;
  margin: auto;
  font-family: 'Shadows Into Light', cursive;
  font-size: 20px;
}
.tech {
  overflow: hidden;
  width: 100%;
}
.tech h2 {
  text-align: center;
  color: #1d1d1e;
  height: 30px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 40px;
}
.p3 {
  max-width: 70%;
  text-align: left;
  color: #1d1d1e;
  margin: auto;
  font-family: 'Shadows Into Light', cursive;
  font-size: 20px;
}
.p4 {
  max-width: 70%;
  text-align: left;
  color: #1d1d1e;
  margin: auto;
  font-family: 'Shadows Into Light', cursive;
  font-size: 20px;
}
.projects h2 {
  text-align: center;
  color: #1d1d1e;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 40px;
}
.projects h3 {
  color: #1d1d1e;
  margin: 5px auto 5px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 30px;
}
.projects p {
  color: #1d1d1e;
  margin: auto;
  font-size: 20px;
  font-family: 'Shadows Into Light', cursive;
}
.experience {
  overflow: hidden;
  width: 100%;
}
.experience h2 {
  text-align: center;
  color: #1d1d1e;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 40px;
}
.experience h3 {
  color: #1d1d1e;
  margin: auto;
  margin-left: 10px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 30px;
}
.experience h4 {
  margin-left: 5%;
  font-style: italic;
  color: #1d1d1e;
  font-family: 'Shadows Into Light', cursive;
  font-size: 15px;
}
.experience p {
  margin-left: 5%;
  color: #1d1d1e;
  font-family: 'Shadows Into Light', cursive;
  font-size: 20px;
}
.education h2 {
  text-align: center;
  color: #1d1d1e;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 40px;
}
.education p {
  margin-left: 5%;
  color: #1d1d1e;
  font-family: 'Shadows Into Light', cursive;
  font-size: 20px;
}
.contact h2 {
  text-align: center;
  color: #1d1d1e;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 40px;
}
fieldset {
  width: 450px;
  height: 350px;
  background-color: black;
  border-radius: 10px;
  margin: 20px auto 40px;
  box-shadow: inset 0 0 20px 15px black;
}
form {
  margin-top: 15px;
}
fieldset label {
  margin: 3% 0 0 22%;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #ebd827;
}
.inputname {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 240px;
  height: 25px;
  margin: 0 0 3% 22%;
  font-size: 16px;
  font-style: italic;
  font-family: 'Open Sans Condensed', sans-serif;
}
.inputemail {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 240px;
  height: 25px;
  margin: 0 0 3% 22%;
  font-size: 16px;
  font-style: italic;
  font-family: 'Open Sans Condensed', sans-serif;
}
textarea {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 240px;
  height: 80px;
  background-color: white;
  margin: 0 0 0 22%;
  font-size: 16px;
  line-height: normal;
  font-family: 'Open Sans Condensed', sans-serif;
}
.button {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 240px;
  height: 25px;
  margin: 0 0 5% 22%;
  font-size: 16px;
  background-color: white;
  color: gray;
  font-family: 'Open Sans Condensed', sans-serif;
}
.button:hover {
  background-color: #ebd827;
  border: 1px solid black;
  color: #111002;
}
footer {
  width: 100%;
  height: 120px;
  text-align: center;
  background-color: white;
}
footer a {
  text-decoration: none;
  color: #1d1d1e;
  margin: 10px;
}
footer .git {
  margin-bottom: -10px;
  padding-top: 20px;
}
#link {
  margin-top: 20px;
}
footer p {
  font-style: italic;
  color: #1d1d1e;
  padding-bottom: 10px;
  margin-left: 70px;
}
